* {
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Bold.ttf);
    font-weight: 700;
}



.wrapper2 {
    max-width: 1100px;
    width: 100%;
    background-color: #C4C4C4;
    height: 800px;
    margin: 0 auto;
    padding: 50px;
    display: block;
}

.wrapper {
    background-color: #E6E6E6;
    font-size: 0;
    margin-bottom: 50px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.wrapper::after {
    content: "";
    display: block;
    clear: both;
}

.item,
.item1,
.item2 {
    width: 200px;
    height: 200px;
    padding-top: 63px;
    background-color: #FC8F8F;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
}

.item1 {
    margin-right: 15px;
}

.item2 {
    width: 100px;
    height: 100px;
    padding-top: 31px;
    font-size: 36px;
    line-height: 37.5px;
    margin-left: 15px;
}

.right1 {
    float: left;
}

.block2 {
    float: right;
    
}